


body {
  background-color: rgb(174, 219, 186); 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
  background: rgb(169, 210, 226);
}

header nav{
  background: rgb(250, 250, 250);
  display: block;
    padding: 0.1em 0em 0.1em 0;
    
}

footer {
  background: rgb(211, 159, 128);
}
aside {
  background: rgb(197, 126, 159);
}

section{

  background: rgb(236, 159, 159);
}

article {

  background: rgb(248, 189, 26);
}

h2 p {
  background: rgb(87, 155, 175);
}
